<!DOCTYPE html>
<!-- saved from url=(0081)https://dl.dropboxusercontent.com/u/11489766/twilio/elearning/client_browser.html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Agent browser</title>

  </head>
  <body>
        agent browser for id  <%= id %>
  </body>
</html>