<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="Twilio starter code">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to the node.js Twilio Starter!</title>

    <!-- A little CSS to make our page prettier -->
    <link rel="stylesheet" href="/app.css"/>
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- Include jQuery to help us with some UI stuff -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
    </script>
</head>
<body>
    <!-- A simple UI to test our Twilio back end -->
    <div id="content">

        <% recordings.forEach(function(el) {
             %><div><span>sid: <%= el.sid  %></span><span>date created: <%= el.date_created  %></span><span>duration: <%= el.duration  %></span><span>audio: <audio controls><source type="audio/wav" src="<%= 'https://api.twilio.com' + el.uri.replace('json','wav')  %>"></audio></span></div><%
        }); %>
    </div>

    <!-- Some dirty JavaScript to help drive our UI -->
    <script src="/js/ui.js"></script>
    <!-- Some ajax magic to hit our back end and make calls/send messages -->
    <script src="/js/form.js"></script>
</body>
</html>